Body{
    font-family: 'Comic sans MS';
}
.site-heading-lower{
    font-family: 'Comic sans MS';
}
.mb-3{
    font-family: 'Comic sans MS';
}
a{
    font-family: 'Comic sans MS';
}
#mainNav{
    background-color: darkgreen;
}